{
  "presets":[
    "es2015", "react", "stage-0" ],
  "plugins": [
    "syntax-decorators",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-runtime"
  ],
  "env":
  {
    "development/client":
    {
      "plugins":
      [
        "typecheck",
        "react-transform"
      ],
      "extra":
      {
        "react-transform":
        [{
          "target"  : "react-transform-hmr",
          "imports" : ["react"],
          "locals"  : ["module"]
        }]
      }
    }
  }
}