html,body {
  background: #1C1E20;

  height: 100%;
  overflow: hidden;
}
.group {
  height: 98%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#root {
  height: 100%;
  > div {
    height: 100%;
  }
}

.UserEnter {
  line-height: 1.2em;
  input {
    margin: 0 10px;
  }
}

.App {
  margin: 20px auto;
  min-height: 600px;
  height: calc(100% - 40px);
  width: 960px;
  background: #f5f6f7;
  padding: 20px;
  box-shadow: 10px 10px 20px black;
  .Page {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}

.Users {
  padding: 10px;
  margin-right: 20px;
  width: 240px;
  height: 100%;
  float: left;
  background: #e2e2e2;
  ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    li {
      line-height: 1.1em;
      display: block;
      width: 100%;
      background: white;
      color: #666;
      padding: 5px 10px;
      margin-bottom: 5px;
      span {
        float: right;
      }
    }
    li:hover {
      color: #f5f6f7;
      background: #666666;
      cursor: pointer;
    }
    li.active {
      background: #663399;
      color: #f5f6f7;
    }
  }
}

.Dashboard {

  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row; /* works with row or column */
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
  .ChatContainer {
    /* This will be twice as big as the small item. */
    height:100%;
    -webkit-flex: 3 0 0;
    flex: 3 0 0;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; /* works with row or column */
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: center;
    justify-content: center;
    .Greeting {
      -webkit-flex: 1 0 0;
      flex: 1 0 0;
    }
  }
  .Users {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
  }
}

.Chat {
  -webkit-flex: 5 0 0;
  flex: 5 0 0;
  width: 660px;
  float: left;
  height: 95%;
  label {
    float: left;
    padding: 20px;
    width: 100%;
    height: 110px;
    textarea {
      width:100%;
      margin: 5px 0;
    }
  }
  .Messages {
    height: calc(100% - 110px);
    overflow-y: scroll;
    .Message {
      width: 60%;
      padding: 10px;
      float: left;
      clear: both;
      padding-left: 100px;

      > div {
        display: inline-block;
      }

      .User {
        margin: 0 10px;
      }
      .Date {
        font-size: 0.7em;
        margin-bottom: 5px;
      }

      .Bubble {
        max-width: 90%;
        padding: 20px;
        background-color: #eadef8;
        border-radius: 5px;
        .Text {
          text-align: justify;
        }
      }

      &.Current {
        .Bubble {
          background-color: orange;
        }
        float: right;
        text-align: right;
        padding-left: 0;
        padding-right: 100px;
      }

    }
  }

}

.Menu a {
  display: inline-block;
  padding: 5px 0;
  margin-right: 10px;
}

.BackgroundImgExample {
  width: 250px;
  height: 141px;
  background: url(../assets/img/book1.jpg) no-repeat;
  background-size: 100% auto;
}

.ImgExample {
  width: 250px;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
