body {
  background: #1C1E20;
}

#root {
}

.App {
  margin: 20px auto;
  min-height: 600px;
  width: 960px;
  background: #f5f6f7;
  padding: 20px;
  box-shadow: 10px 10px 20px black;
}

.Users {
  padding: 10px;
  margin-right: 20px;
  width: 240px;
  height: 100%;
  float: left;
  background: #e2e2e2;
  ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    li {
      line-height: 1.1em;
      display: block;
      width: 100%;
      background: white;
      color: #666;
      padding: 5px 10px;
      margin-bottom: 5px;
      span {
        float: right;
      }
    }
    li:hover {
      color: #f5f6f7;
      background: #666666;
      cursor: pointer;
    }
    li.active {
      background: #663399;
      color: #f5f6f7;
    }
  }
}

.Dashboard {
}

.Chat {
  label {
    textarea {
    }
  }
  .Messages {
    .Message {
      width: 60%;
      padding: 10px;
      float: left;
      clear: both;
      padding-left: 100px;

      > div {
        display: inline-block;
      }

      .User {
        margin: 0 10px;
      }
      .Date {
        font-size: 0.7em;
        margin-bottom: 5px;
      }

      .Bubble {
        max-width: 90%;
        padding: 20px;
        -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
        background-color: lightgreen;
        .Text {
          text-align: justify;
        }
      }

      &.Current {
        .Bubble {
          background-color: orange;
        }
        float: right;
        text-align: right;
        padding-left: 0;
        padding-right: 100px;
      }

    }
  }

}

.Menu a {
  display: inline-block;
  padding: 5px 0;
  margin-right: 10px;
}

.BackgroundImgExample {
  width: 250px;
  height: 141px;
  background: url(../assets/img/book1.jpg) no-repeat;
  background-size: 100% auto;
}

.ImgExample {
  width: 250px;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
