body {
  background: #1C1E20;
}

#root {
  margin-left: 260px;
}

.App {
  margin: 20px auto;
  width: calc(100% - 40px);
  background: #f5f6f7;
  padding: 20px;
  padding-left: 30px;
  border-radius: 3px;
}

.Users {
  width: 270px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #dddddd;
  margin: 20px;
  border-radius: 3px;
  height: 100%;
  padding: 20px;
  ul {
    list-style: none;
    li.active {
      color: darkgreen;
    }
  }
}

.Menu a {
  display: inline-block;
  padding: 5px 0;
  margin-right: 10px;
}

.BackgroundImgExample {
  width: 250px;
  height: 141px;
  background: url(../assets/img/book1.jpg) no-repeat;
  background-size: 100% auto;
}

.ImgExample {
  width: 250px;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}
